<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <h1>this is a home page</h1>
    <h3><%= 1+2 %></h3>
    <p>Lorem ipsum dolor sit amet consectetur
         adipisicing elit. Placeat quo voluptatibus 
         perferendis officiis delectus et autem sit blanditiis
        libero aliquid, sapiente saepe, voluptas totam possimus
        similique? Voluptatum tempora corporis possimus.</p>

    <button>click me</button>
    
</body>
</html>