<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new chat</title>
</head>
<body>
    <h3>New Chat</h3>
    <form action="/chats" method="POST">
        <input type="text" placeholder="write your name" name="from"><br><br>
        <textarea name="msg" id="" placeholder="write your msg here"></textarea><br><br>
        <input type="text" placeholder="add receiver" name="to" /><br><br>
        <button>Create chat</button><br><br>
    </form>
</body>
</html>